/********* Container ***********/
.container {
   display: flex;
   justify-content:center;
   align-items: center;
   flex-wrap: wrap;
}
.item{
    font-family: 'Kalam', cursive;
    color:deepskyblue;
    font-size: 1.1rem;
}
.item img{
    margin-top: 30px;
    margin-left: 25px;
    width: 80%;
    height: auto;
    border-radius: 20%;
}
.container2 {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap-reverse;
    font-family: 'Kalam', cursive;
    color:deepskyblue;
    font-size: 1.1rem;
}
.item2 img{
    margin-top: 30px;
    margin-left: 25px;
    width: 80%;
    height: auto;
    border-radius: 20%;
}
.container3{
    margin: 50px;
    font-family: 'Kalam', cursive;
    color:deepskyblue;
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.c3-img{
    width: 50%;
    height: auto;
}
.cr-img img{
    
    margin: 10px;
    width: 100%;
    height: auto;
}
.c3-text{
    width: 50%;
    height: auto;
    
}