#container_1{
    font-family: 'Kalam', cursive;
    margin-top: 110px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.pic_eins{
    flex-grow: 0;
    text-align: center;
            
}
.pic_zwei{
    flex-grow: 0;
    align-self: flex-end;
    text-align: center;        
}

.pic_drei{
    flex-grow: 0;
    text-align: center;        
}
.pic_eins img{
    width: 350px;
    height: auto;
    border-radius: 25%;
    display: block;
    transition: transform 1.0s ease;
}
.pic_zwei img{
    width: 400px;
    height: auto;
    border-radius: 25%;
    display: block;
    transition: transform 1.0s ease;
}
.pic_drei img{
    width: 350px;
    height: auto;
    border-radius: 25%;
    display: block;
    transition: transform 1.0s ease;
}
.pic_eins:hover img {
    transform: scale(1.2);
  }
.pic_zwei:hover img {
    transform: scale(1.2);
}
.pic_drei:hover img {
    transform: scale(1.2);
}
#container_2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
#container_2 img{
    border-radius: 50%;
    width: 100%;
    height: auto;
}
.txt_about{
    width: 75%;
}
#contact{
border: 5px solid black;
margin-top: 200px;
display: flex;
}