@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  background-color: #231e25;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  color:aqua
}
.responsive{
  width: 100%;
  height: max;
}